<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndexPage</title>
</head>
<body>
    <h1 align="center">Add Books</h1>
    <table border="2" cellspacing="0" cellpadding="8" align="center">
        <tr>
            <td>Book Name</td>
            <td><input type="text" name="Bname" placeholder="Enter Book Name"></td>
        </tr>
        <tr>
            <td>Author Name</td>
            <td><input type="text" name="Aname" placeholder="Enter Author Name"></td>
        </tr>
        <tr>
            <td>Book Category</td>
            <td>
                <select name="Bcate" id="">
                    <title>Select Book Category</title>
                    <option>Novel</option>
                    <option>Business</option>
                    <option>Sports</option>
                    <option>Comics</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Book Image</td>
            <td><input type="file" name="Bimg"></td>
        </tr>
        <tr>
            <td>Upload Book</td>
            <td><input type="file" name="Book"></td>
        </tr>
        <tr>
            <td>Book Price</td>
            <td><input type="text" name="Bookp" placeholder="Enter Book Price"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="Upload Book"></td>
        </tr>
    </table>
</body>
</html>