<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Registration</title>
</head>
<body>
    <!-- MODEL VIEW TEMPLATE -->
    <h1 align="center" style="text-decoration: underline;">Seller Registration</h1>
    <form action="{% url 'register' %}" method="POST">{% csrf_token %}
    <table align="center" border="2" cellspacing="0" cellpadding="8">
        <tr>
            <td>FirstName</td>
            <td><input type="text" name="fname" placeholder="Enter Firstname"></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" name="lname" placeholder="Enter lastname"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" placeholder="Enter Email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="passwd" placeholder="Enter Password"></td>
        </tr>
        <tr align="center">
            <td colspan="2"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
</body>
</html>